/*------------------------CSS Reset------------------------*/
*{
    margin: 0;
    padding: 0;
}
/*------------------------All Pages------------------------*/
body {
    background-color: #1F2937;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.main{
    flex: 1; //Extend main contents; footer resides at bottom of page
    min-height: 45vh;
}

p, h1, h3 {
    color: white;
    text-align: center;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.green-text{
    color: #34D399;
}

.center-text{
    text-align: center;
}

.align-button{
    display: flex;
    gap: 1%;
}

@mixin cal-sans{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cal-sans-large {
    @include cal-sans;
    font-size: 5.25rem;
    font-weight: 500;
  }

.cal-sans-regular {
    @include cal-sans;
    font-size: 1.5rem;
  }

.cal-sans-small {
    @include cal-sans;
    color: #ccc;
    font-size: 1.25rem;
  }

.home-img-container{
    display: flex;
    align-items: center;
    gap: 18px;
}

/*------------------------Home Page------------------------*/
#search-icon-frontpage{
    border-radius: 50%;
    width: 125px;
    position: relative;
    top: -10px;
}

// #search-keyword{
//     max-width: 1000px;
// }

// input[type=text] {
//   width: 100%;
//   //padding: 12px 20px;
//   margin: 8px 0;
//   //box-sizing: border-box;
// }

input[type=text]:hover{
    border: 2px solid #34D399;
}

.tag-paragraph{
  position: relative;
  top: 10px;
}

.tag {
  //@include tag-paragraph;
  background-color: #374151;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.85rem;
  margin: 0 4px;
  color: white;
}

.search-btn{
    border: none;
    border-radius: 6px;
    background-color: #34D399;
    padding: 5px 16px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    letter-spacing: 1.25px;
}

.search-btn:hover{
    background-color: #16a34a;
}

.tag:hover{
    cursor: pointer;
}

/*CSS Grid to Display Images*/
// .container{
//     display: flex;
//     align-items: center;
//     flex-direction: column;
// }


#topResult{
    color: white;
    font-size: 1.5rem;
    font-weight:bold;
    position: relative;
    left: -10%;
}

.container{
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
}

.white{
    color: white;
}

.container p{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 5%;
    color: black;
  }

.container .card{
    background-color: white;
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  //grid-template-columns: repeat(3, minmax(250px, 1fr));
  //grid-template-columns: repeat(3, 1fr); //3 columns each row, takes up 1 fraction of available space
  gap: 3.5rem;
  //margin-bottom: 10%;
}

/*Set screens 320px and below*/
// @media only screen and (max-width: 320px){
//     .job-grid {
//         grid-template-columns: repeat(1, 1fr) !important;
//   }
// }

// .job-grid {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 1.5rem;
// }

// @media (min-width: 768px) {
//   .job-grid {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }


.card {
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/*Mobile Responsiveness at < 320px*/

/*Stack navbar vertically*/

/*Stack images vertically in a single column*/


.test{
    // justify-content: center;
    // align-content: center;
    // align-items: center;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  background-color: lightgray;
}

.grid-item {
  background-color: coral;
  height: 100px;
}